ul.social-network {
  list-style: none;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0;
  padding: 5px;
}


.fa {
  font-size: 15pt;
  color: white;
  padding: 5px;
}

.fa-linkedin:hover {
  color: #e3e8eb;

}

.fa-github:hover {
  color: #e8ebee;
}

.fa-copyright {
  font-size: 10pt;
}

.btn-modal{
  background-color: rgba(108, 51, 241, 0.5);
  color: white;
  overflow-x: hidden;
  width: 100vw;
}


