<div class="col-md-8">
    <h2 class="text-center mb-3">Entrar</h2>
    <form class="">
      <div class="form-group">
        <label for="usuario">Usuário</label>
        <input
          class="form-control"
          type="email"
          placeholder="Seu e-mail"
        />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input
          class="form-control"
          type="senha"
          placeholder="Sua senha"
        />
      </div>
    </form>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary col-7">Entrar</button>
    </div>
    <hr class="my-4" />
    <div class="d-flex justify-content-center h5">
      <p>Não tem uma conta?<a routerLink="/cadastrar" class="ml-1">Cadastre-se</a></p>
    </div>
  </div>