/* .bg-roxo{
    background-color: rgb(255, 255, 255);
} */

.m-b{
    margin-top: 1.65rem;
}

.btn-pink{
    background-color: rgb(250, 91, 210);
    color: white;
}
.btn-pink:hover{
    background-color: rgb(247, 73, 203);
    color: rgb(150, 0, 150)
} 

.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.text-pink{
    color: purple;
}
/* Centralização*/

.centro{
width: 100vw;
height: 100vh;
}