.img-bg{
    background-image: url('https://i.imgur.com/OG75puf.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.m-b{
    margin-top: 1.65rem;
}

#bt-entrar {
  color:azure;
  border: none;
}

/* Centralização*/

.centro{
width: 100vw;
height: 100vh;
}

@media(max-width: 290px) {
    p {
    font-size: 12px;
    }
}

.btn-modal{
    background-color: #8e8a8f;
    color: white;
}

.btn-modal:hover{
    background:rgba(91, 41, 209, 0.733);
}

#imagemdefundo{
    background-image: url('https://i.imgur.com/RrMBTfp.png');
  }