 <div class="col-md-6 justify-content-center container">
        <div class="col-md-9 align-self-center justify-content-center container">
            <h2 class="text-center">Cadastre-se</h2>
            <form >
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input [(ngModel)]='usuario.nome' name="nome" class="form-control" type="text" placeholder="Seu nome">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input [(ngModel)]='usuario.usuario' name="email" class="form-control" type="email" placeholder="Seu e-mail">
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input (input)="confirmSenha($event)" name="senha" class="form-control" type="password" placeholder="Insira uma senha de no mínimo 8 caracteres">
                </div>
                <div class="form-group">
                    <label for="ConfirmSenha">Confirme sua senha</label>
                    <input [(ngModel)]='usuario.senha' name="confirmSenha" class="form-control" type="password" placeholder="Confirme a senha">
                </div>
                <div class="form-group">
                    <label for="">Tipo de Usuário</label>
                    <select name="tipo" id="" (change)="tipoUser($event)" class="form-control">
                        <option selected disable>Selecione sua opção</option>
                        <option value="Padrão">Padrão</option>
                        <option value="Empresa">Empresa</option>
                        <option value="Mentor">Mentor</option>
                        <option value="Administrador">Administrador</option>
                    </select>
                </div>
                <div class="d-flex justify-content-around">
                    <button routerLink="/login" class="btn btn-outline-danger w-25" routerLink="/login">Cancelar</button>
                    <button class="btn btn-success w-25" (click)="cadastrar()">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
