/* You can add global styles to this file, and also import other style files */
.fs-18{
    font-size: 18pt;
}
.fs-50{
    font-size: 50pt;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
